<form [formGroup]="updateMyProfileForm" (ngSubmit)="updateProfile()">
    <h2>Update My Profile</h2>
    <label for="name">
        Name:
        <input type="text" id="name" name="name" formControlName="name" required>
    </label>
    <label for="email">
        Email:
        <input type="email" id="email" name="email" formControlName="email" required>
    </label>
    <button type="submit">Update Profile</button>
</form>

<form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
    <h2>Update Password</h2>
    <label for="currentPassword">
        Current Password:
        <input type="password" id="currentPassword" name="currentPassword" formControlName="currentPassword" required>
    </label>
    <label for="newPassword">
        New Password:
        <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" required>
    </label>
    <label for="confirmPassword">
        Confirm Password:
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required>
    </label>
    <button type="submit">Update Password</button>
</form>
