<div class="container mt-5">
  <form class="d-flex flex-column col-12 col-sm-4 mb-4" [formGroup]="updateMyProfileForm" (ngSubmit)="updateProfile()">
      <h2>Update My Profile</h2>
      <label for="name">
          Name:
          <input type="text" id="name" name="name" class="form-control mb-2" formControlName="name" required>
      </label>
      <label for="email">
          Email:
          <input type="email" id="email" name="email" class="form-control mb-2" formControlName="email" required>
      </label>
      <button class="btn btn-purple" type="submit">Update Profile</button>
  </form>

  <form class="d-flex flex-column col-12 col-sm-4" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
      <h2>Update Password</h2>
      <label for="currentPassword">
          Current Password:
          <input type="password" id="currentPassword" class="form-control mb-2" name="currentPassword" formControlName="currentPassword" required>
      </label>
      <label for="newPassword">
          New Password:
          <input type="password" id="newPassword" class="form-control mb-2" name="newPassword" formControlName="newPassword" required>
      </label>
      <label for="confirmPassword">
          Confirm Password:
          <input type="password" id="confirmPassword" class="form-control mb-2" name="confirmPassword" formControlName="confirmPassword" required>
      </label>
      <button class="btn btn-purple" type="submit">Update Password</button>
  </form>
</div>
